$primary: #595cff;
$secondary: #8c8eff;
$primary-dark: #383be4;
$white: #ffffff;
$light-grey: #e6e6eb;
$black: #000000;
$snow: #f9f9fb;

$grey: #afb1bd;

$box-shadow: 3px 7px 15px rgba(0, 0, 0, 0.1);

$mobile: "480px";
$tablet: "768px";
$laptop: "960px";
$desktop: "1152px";
$widescreen: "1440px";
